$font-primary: "Roboto", sans-serif;
$font-secondary: "Tahoma", sans-serif;
$font-size-base: 16px;
$font-size-h1: 2em;
$font-size-h2: 1.5em;
$color-primary: #2f3c7e;
$color-secondary: #2e45b9;
$color-background: #fbeaeb;
$color-fontnav: #fff;
$color-font: #000;
